
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<form >
    <div class="input">
      <label>Username</label>
      <input type="text" name="username" [(ngModel)]="username">
    </div>
  
    <div class="input">
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password">
    </div>
  
    <div class="input"> 
      <input type="submit" value="Hello There!" (click)="LoginUser()" >
      
      
    </div>
  </form> 